*{
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myheader{
    background-color: white;
    height: 100px;
    font-family: 'Bradley Hand ITC', 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    padding: 50px;
    box-shadow: 5px;
}

.mytitle{
    font-weight: bold;
    font-size: 50px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(500px*3);
    animation: glisse 7s infinite;
}
img{
    height: 500px;
    width: 500px;
    opacity: 0.5;
}

body{
    background-color: #3282F6;
}

@keyframes glisse{
    0%{
        transform: translateX(O);
    }
    33%{
        transform: translateX(-250px);
    }
    100%{
        transform: translateX(0);
    }
}

nav.menu{
    width: calc(300px*4);
}

nav.menu ul li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 50px;
}
nav.menu ul{
    display: flex;
    flex-direction: row;
}
.items{
    flex: 1;
    height: 300px;
}
.pizza{
    background-image: url(images/pizza-banner.jpg) 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.salade{
    background-image: url(images/salad-banner.jpg);
}
.burger{
    background-image: url(images/burger-banner.jpg);
}

.boisson{
    background-image: url(images/boisson-banner.jpg);
}