*{
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myheader{
    background-color: white;
    height: 80px;
    font-family: 'Bradley Hand ITC', 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    padding: 50px;
    box-shadow: 5px;
}

.mytitle{
    font-weight: bold;
    font-size: 50px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(500px*3);
    animation: glisse 7s infinite;
}
img{
    height: 500px;
    width: 500px;
    opacity: 0.5;
}

body{
    background-color: #3282F6;
}

@keyframes glisse{
    0%{
        transform: translateX(O);
    }
    33%{
        transform: translateX(-250px);
    }
    100%{
        transform: translateX(0);
    }
}

